:root {
    --blue-primary-0: #1c57cb;
    --blue-primary-1: #1647a8;

    --blue-accent-0: #48a9a6;
    --blue-accent-1: #3e9390;

    --blue-gray-0: #f6f7fb;
    --blue-gray-1: #a2a3b7;
    --blue-gray-2: #979797;

    --blue-text-color: rgb(22 24 75);

    --blue-danger-0: #fc3f3f;
    --blue-danger-1: #ca2c2c;

    --blue-success-0: #48a9a6;

    --blue-input-background-color: #e6e7ee;
}
