$box-shadow-1: 0 5px 7px 1px rgb(0 0 0 / 10%);

$box-shadow-2: 0 5px 7px 1px rgba(0, 0, 0, 0.1),
    0 0px 15px 0px rgba(0, 0, 0, 0.1);

$box-shadow: $box-shadow-2;

:root {
    --box-shadow-1: $box-shadow-1;
    --box-shadow-2: $box-shadow-2;
    --box-shadow: var(--box-shadow);
}
