.iframe-block-full-screen-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: white;

    .iframe-block-full-screen-iframe {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: white;
        border: 0;
    }

    .iframe-block-close-button {
        width: 3rem;
        height: 3rem;
        background-color: white;
        border: 2px solid #eee;
        border-radius: 50%;
        padding: 0.35rem;
        position: fixed;
        top: 1.5rem;
        inset-inline-end: 2rem;
        z-index: 10;
        cursor: pointer;
        color: #848484;
        transition: 0.5s ease;

        &:hover {
            color: black;
            border-color: black;
        }

        svg {
            pointer-events: none;

            path {
                fill: currentColor;
            }
        }
    }
}
