.image-block {
    display: flex;
    flex-direction: column;
    text-align: center;

    position: relative;

    &.has-border {
        box-shadow: var(--box-shadow);
        padding: 1rem;
        background-color: white;
        border-radius: 1rem;

        img {
            border-radius: 0.5rem;
        }
    }

    .caption {
        font-weight: bold;
        margin-top: 1rem;
        line-height: 1.5;
        margin-bottom: 0.5rem;
    }

    .description {
        line-height: 1.5;
    }

    a {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
    }
}
