.youtube-block {
    //
    .iframe-container {
        position: relative;
        overflow: hidden;
        width: 100%; /* Ensure the container takes full width */
        padding-top: 56.25%; /* For a 16:9 aspect ratio */

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0; /* Optional: remove default iframe border */
        }
    }

    .error-message {
        border: 1px solid red;
        padding: 1rem;
        text-align: center;
        background-color: rgb(255, 239, 239);
        border-radius: 0.75rem;
    }
}
