@use './base.scss' as *;

.qrcode-type-business-profile {
    @include base-qrcode-type($icons-color: orange);

    $bg-gradient-color-1: orange;
    $bg-gradient-color-2: rgb(91, 64, 2);

    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .details-container {
        background-image: linear-gradient(
            135deg,
            $bg-gradient-color-1,
            $bg-gradient-color-2
        );
    }

    .portfolio-title {
        color: var(--blue-text-color);
        text-align: center;
        margin: 2rem 0;
    }

    .portfolio-image {
        border-radius: 1rem;
        background-color: white;
        text-align: center;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: var(--box-shadow);
        position: relative;

        a {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        img {
            border-radius: 0.5rem;
        }

        .caption {
            display: block;
            margin-top: 1rem;
            font-weight: bold;
        }

        .description {
            margin-top: 1rem;
            line-height: 1.7;
        }
    }

    .main-details {
        display: grid;
        grid-template-columns: 2fr 7fr;
        grid-gap: 1rem;
        color: white;

        h1 {
            margin-top: 0;
        }

        p {
            line-height: 1.7rem;
        }

        .button {
            width: fit-content;
        }

        .business-logo-container {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }

        .logo-circle {
            border-radius: 50%;
            background-color: white;
            width: 100%;
            padding-bottom: 100%;
            background-size: 80%;
            background-position: center;
            background-repeat: no-repeat;
            box-shadow: var(--box-shadow);
        }
    }

    .lead-form-trigger {
        margin: 1rem auto;
    }

    .upi-block {
        margin-bottom: 2rem;
    }
}
