@use './base.scss' as *;

.qrcode-type-upi-dynamic {
    background-color: white;

    $icons-color: rgb(30, 79, 176);

    @include base-qrcode-type($icons-color: $icons-color);

    .layout-generated-webpage {
        @media (min-width: 900px) {
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            margin-bottom: 2.3rem;
        }
    }

    .banner {
        background-image: url(/assets/images/biolinks/default/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        clip-path: url(#clip-banner);
        background-position: center;
    }

    .logo {
        padding: 0.7rem;
        background-color: white;
        width: var(--upi-payment-logo-size, 140px);
        height: var(--upi-payment-logo-size, 140px);
        margin: auto;
        margin-top: -5rem;
        z-index: 2;
        position: relative;
        border-radius: 50%;

        @media (max-width: 400px) {
            --upi-payment-logo-size: 100px;
            margin-top: -3.5rem;
        }
    }

    h1 {
        text-align: center;
        font-weight: normal;
        margin: 1rem 0 1.5rem;

        font-size: 1.5rem;
    }

    .text {
        line-height: 1.7;
        margin: 1rem;
        text-align: center;
    }

    .button-container {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        position: relative;

        img {
            background-color: white;
            border-radius: 5px;
            padding: 3px;
            width: 2rem;
            height: 2rem;

            object-fit: contain;
            position: absolute;
            top: 0.5rem;
            inset-inline-start: 1rem;
        }

        &:last-child {
            margin-bottom: 3rem;
        }
    }

    .button {
        display: flex;
        flex: 1;
        margin-bottom: 0;

        &,
        &:hover {
            background-color: var(--submit-button-background-color, #ff812f);
            color: var(--submit-button-text-color, white);
            border-radius: 2rem;
            border-color: transparent;
        }
    }

    .payment-container {
        width: 100%;
        padding: 0 2rem 3rem;
        margin: auto;
    }

    .amount-container {
        text-align: center;
        font-weight: bold;
        margin-top: 1rem;
        font-size: 2rem;
    }

    .upi-qrcode {
        border: 1px solid var(--gray-1);
        border-radius: 5px;
        padding: 1.3rem;
        max-width: 300px;
        margin: auto;

        @media (max-width: 400px) {
            max-width: 200px;
        }
    }

    .download-upi-qrcode {
        --submit-button-background-color: transparent;
        background-color: transparent;
        border: 1px solid black;
        color: black;
        margin-top: 3rem;

        &:hover {
            color: black;
            border: 1px solid black;
        }
    }
}
