@mixin qrcode-type-loader {
    &:not(.loaded) {
        > *:not(.loader) {
            display: none;
        }
    }

    .loader {
        position: fixed;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
    }

    &.loaded {
        .loader {
            display: none;
        }
    }
}
