@use './mixins.scss' as *;

section.account-credit-pricing {
    margin-top: 5rem;

    @include title-styles;

    .blocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    .block-box {
        box-shadow: var(--box-shadow);
        padding: 2rem;
        border-radius: 2rem;

        color: white;

        .button {
            border-radius: 5rem;
        }

        .qrcode-type {
            font-weight: bold;
            margin-bottom: 1rem;
        }

        p {
            line-height: 1.7;
            margin-bottom: 1rem;
        }

        .price {
            display: flex;

            .amount {
                font-size: 5rem;
            }

            .description {
                line-height: 1.4;
                display: flex;
                flex-direction: column;
                margin-left: 2rem;
                justify-content: center;
                font-size: 1.3rem;
            }
        }
    }

    .block-box.static {
        background-image: url(/assets/images/qrcode-showcase-bg-2.png);
    }

    .block-box.dynamic {
        background-image: url(/assets/images/qrcode-showcase-bg-1.png);
    }

    .features-title {
        margin: 1rem 0;
        font-weight: bold;
    }

    ul.features {
        list-style: none;
        padding: 0;

        &.with-margin {
            margin-top: 3rem;
        }

        svg {
            width: 1rem;
            height: 1rem;
            margin-right: 2rem;
        }

        li {
            line-height: 1.7;
        }

        .yes {
            svg {
                path {
                    fill: var(--blue-accent-0);
                }
            }
        }

        .no {
            svg {
                path {
                    fill: var(--blue-danger-0);
                }
            }
        }
    }
}
