section.free-trial-notice {
    .text {
        display: flex;
        align-items: center;
        margin: 3rem 0;
        padding: 2rem;
        background-color: var(--blue-gray-0);
        border-radius: 0.5rem;
        font-size: 1.3rem;
    }

    svg {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;

        [dir='rtl'] & {
            margin-right: 0;
            margin-left: 1rem;
        }

        * {
            fill: var(--blue-gray-1);
        }
    }
}
