section.installation-services {
    margin: 5rem 0;

    .call-to-action {
        background-image: url(/assets/images/qrcode-showcase-bg-1.png);
        background-position: center;
        padding: 2rem;

        border-radius: 1rem;
        box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.3);
    }

    &.accent .call-to-action {
        background-image: url(/assets/images/qrcode-showcase-bg-2.png);
    }

    .wrapper {
        @include mobile-column-desktop-row;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    .body {
        display: flex;
        flex-direction: column;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            color: white;
            line-height: 1.7;
            margin: 0;
        }

        @media (max-width: 1200px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            p {
                margin-top: 1rem;
            }
        }

        @media (max-width: 900px) {
            align-items: center;
            text-align: center;
        }
    }

    .button {
        margin-right: 2rem;
        @media (max-width: 900px) {
            margin-right: 0;
        }
    }

    .illustration {
        width: 250px;
        margin: auto 0;
        display: block;

        opacity: 0.3;

        @media (max-width: 900px) {
            margin: auto;
        }
    }

    .section-title {
        color: white;
        font-weight: 300;
        font-size: 3rem;
        margin: 0 0 2rem 0;

        @media (max-width: 500px) {
            font-size: 1.7rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
    }

    .explainer {
        color: white;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.7;
        padding-right: 2rem;

        @media (max-width: 900px) {
            padding-right: 0;
        }

        @media (max-width: 500px) {
            font-size: 1rem;
            font-weight: 400;
            text-align: justify;
        }
    }

    .price {
        margin-top: 2rem;
        color: white;
        .number {
            font-size: 3rem;
        }

        @media (max-width: 500px) {
            margin-bottom: 2rem;
        }
    }
}
