section.payment-result {
    text-align: center;

    h1 {
        font-size: 5rem;
        margin-bottom: 1rem;
    }

    .text {
        padding: 5rem 0;
    }

    p {
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }

    .button {
        width: fit-content;
        margin: 2rem auto;
    }
}
