@use './mixins.scss' as *;

section.qrcode-stats {
    margin-top: 7rem;
    @include title-styles;

    .main-image {
        border-radius: 1rem;
        box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.3);
        margin-top: 2rem;
    }
}
