section.testimonials {
    margin-top: 7rem;
    background-color: var(--blue-gray-0);
    overflow: hidden;

    .main-testimonial {
        padding: 5rem 0;
        position: relative;
        text-align: center;

        .text {
            position: relative;
            font-size: 2.5rem;
            line-height: 1.6;
            z-index: 1;
            font-weight: 300;
        }

        .heading {
            font-size: 1.5rem;
            font-weight: 600;
            margin: 2rem 0;
            text-align: center;
            color: var(--blue-gray-1);
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .customer-name {
            display: inline-block;
            font-size: 1.5rem;
        }

        .details {
            margin: auto;
            font-weight: 300;
            font-size: 1.3rem;
            label {
                font-weight: 500;
            }
        }
    }

    .quote-image {
        position: absolute;
        bottom: 1rem;
        right: 2rem;
        z-index: 0;
        pointer-events: none;
        width: 15rem;
        opacity: 0.2;
    }

    .testimonials-track {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 2rem;
        width: 3400px;
        animation: testimonial-slideshow 90s linear infinite alternate;
        margin-bottom: 5rem;

        [dir='rtl'] & {
            animation: testimonial-slideshow-reverse 90s linear infinite
                alternate;
        }

        @keyframes testimonial-slideshow {
            0% {
                transform: translateX(0);
            }

            to {
                transform: translateX(-50%);
            }
        }

        @keyframes testimonial-slideshow-reverse {
            0% {
                transform: translateX(-50%);
            }

            to {
                transform: translateX(0);
            }
        }

        .testimonial-item {
            background-color: white;
            padding: 1.5rem 2rem;
            border-radius: 1rem;
            line-height: 1.7;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: var(--blue-gray-1);

            p {
                margin: 0;
            }
        }
    }

    @media (max-width: 900px) {
        .main-testimonial {
            .text {
                font-size: 1.5rem;
            }

            .heading {
                font-size: 1rem;
                font-weight: 600;
                margin: 2rem 0;
                text-align: center;
                color: var(--blue-gray-1);
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }

        .testimonials-track {
            width: 2200px;
        }
    }

    @media (max-width: 500px) {
        .testimonials-track {
            animation-duration: 40s;
            width: 3000px;
        }
    }
}
