.lead-form {
    .flash-animate {
        animation: flash-animation 0.4s ease both;
    }

    @keyframes flash-animation {
        0% {
            opacity: 1;
        }

        30% {
            opacity: 0.2;
        }

        60% {
            opacity: 1;
        }

        80% {
            opacity: 0.1;
        }

        100% {
            opacity: 1;
        }
    }
}
