.lead-form {
    .answer.rating {
        display: flex;
        align-items: center;

        flex-wrap: wrap;

        .rating-number {
            width: 2.5rem;
            height: 2.3rem;
            text-align: center;
            margin: 0.8rem 0.8rem 0 0;
            background-color: #ffffff80;
            border-radius: 0.25rem;
            cursor: pointer;
            font-weight: bold;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            &.checked {
                background-color: white;
                color: black;
            }
        }
    }
}
