.lead-form {
    .answer.choices {
        .choice {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            padding: 0.5rem;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 0.25rem;
            font-size: 1rem;
            cursor: pointer;

            .choice-number {
                padding: 0.15rem;
                background-color: white;
                color: black;
                margin-right: 1rem;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                min-width: 2rem;
                border-radius: 0.25rem;
                font-size: 0.8em;
            }

            &.checked {
                background-color: white;
                color: black;
            }
        }
    }
}
