@mixin fingerprint {
    .single-submission-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        display: none;
        padding: 1rem;

        .single-submission-text {
            font-size: 1.5rem;
            line-height: 1.7;
            color: white;
        }
    }

    &[single-submission][submission-blocked] .single-submission-overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &[single-submission][submission-blocked]
        > *:not(.single-submission-overlay):not(.lead-form-close-button) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}
