@mixin success-page {
    .success-page {
        display: none;
        max-height: 0;
        overflow: hidden;
    }

    &.success {
        & > *:not(.success-page) {
            display: none;
        }

        .success-page {
            background-color: black;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: white;
            padding: 1rem;
            z-index: 100;
            max-height: 100vh;

            display: block;

            &-content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                animation: lead-form-success-page-animation 0.5s ease-in both;

                line-height: 1.7;

                h2 {
                    font-size: 2rem;
                }

                p {
                    margin-top: 0;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@keyframes lead-form-success-page-animation {
    from {
        opacity: 0;
        transform: scale(0.9) translateY(-10%);
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: scale(1) translateY(0%);
    }
}
