@use './core/normalize.scss' as *;
@use './core/colors.scss' as *;
@use './core/typography.scss' as *;
@use './core/layout.scss' as *;
@use './core/vars.scss' as *;

@use './components/header.scss' as *;
@use './components/logo.scss' as *;
@use './components/button.scss' as *;
@use './components/whatsapp-buy-button.scss' as *;
@use './components/footer.scss' as *;
@use './components/modal.scss' as *;
@use './components/image-gallery.scss' as *;
@use './components/input.scss' as *;
@use './components/card.scss' as *;
@use './components/loader.scss' as *;
@use './components/gdpr-widget.scss' as *;
@use './components/misc.scss' as *;
@use './components/frontend-toast.scss' as *;
@use './components/body-scroll-blocker.scss' as *;
@use './components/share-on-whatsapp.scss' as *;
@use './components/go-to-top-button.scss' as *;
@use './components/sticky-header.scss' as *;
@use './components/stack-component.scss' as *;
@use './components/faqs.scss' as *;
@use './components/share-overlay.scss' as *;

@use './sections/informative-text.scss' as *;
@use './sections/mixins.scss' as *;
@use './sections/features-in-numbers.scss' as *;
@use './sections/qrcode-showcase.scss' as *;
@use './sections/qrcode-types.scss' as *;
@use './sections/qrcode-stats.scss' as *;
@use './sections/testimonials.scss' as *;
@use './sections/pricing.scss' as *;
@use './sections/website-banner.scss' as *;
@use './sections/inner-page-title.scss' as *;
@use './sections/blog-list.scss' as *;
@use './sections/post.scss' as *;
@use './sections/payment-result.scss' as *;
@use './sections/free-trial-notice.scss' as *;
@use './sections/account-credit-pricing.scss' as *;
@use './sections/blog-short-list.scss' as *;

@use './sidebars/subscribe.scss' as *;

@use './qrcode-types/base.scss' as *;
@use './qrcode-types/business-profile.scss' as *;
@use './qrcode-types/vcard-plus.scss' as *;
@use './qrcode-types/restaurant-menu.scss' as *;
@use './qrcode-types/product-catalogue.scss' as *;
@use './qrcode-types/biolinks.scss' as *;
@use './qrcode-types/event.scss' as *;
@use './qrcode-types/lead-form-type.scss' as *;
@use './qrcode-types/app-download.scss' as *;
@use './qrcode-types/business-review.scss' as *;
@use './qrcode-types/upi-dynamic.scss' as *;
@use './qrcode-types/components/ads-layout.scss' as *;
@use './qrcode-types/emergency-contact.scss' as *;

@use './pages/qrcode-error.scss' as *;
@use './pages/404.scss' as *;
@use './pages/invoice.scss' as *;
@use './pages/safe-browsing-redirect.scss' as *;
