.sidebar.subscribe {
    background-image: url(/assets/images/qrcode-showcase-bg-1.svg);
    background-position: top;
    color: white;
    margin: 4rem 0;
    padding: 2rem;
    border-radius: 1rem;

    line-height: 1.7;

    h3 {
        margin: 0 0 1rem 0;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 1px;
    }

    p {
        margin-bottom: 2rem;
        font-size: 0.9rem;
    }
}
