.card {
    background-image: url('/assets/images/qrcode-showcase-bg-1.png');

    &.accent {
        background-image: url('/assets/images/qrcode-showcase-bg-2.png');
    }

    background-size: cover;
    border-radius: 1rem;
    box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    color: white;

    a {
        color: white;
    }

    h2 {
        font-weight: normal;
        font-size: 1.5rem;
    }
}
