#cookie-consent {
    position: fixed;
    text-align: center;
    z-index: 10;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    left: 1rem;
    bottom: 1rem;
    max-width: 40rem;
    background-color: var(--blue-text-color);
    border-radius: 0.5rem;
    color: white;

    animation: fade-in-cookie-consent 1s 1s ease-in both;

    &.closing {
        animation: fade-out-cookie-consent 0.5s ease-out both;
    }

    &.hidden-div {
        display: none;
    }

    a:not(.button) {
        color: white;
    }

    .main-text {
        margin-bottom: 1rem;
        line-height: 1.7;
    }

    .controls {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

        .full-width {
            grid-column: 1 / span 2;
        }

        .outline {
            border-color: white;
            color: white;
        }
    }

    @keyframes fade-in-cookie-consent {
        from {
            opacity: 0;
            transform: scale(0.95);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes fade-out-cookie-consent {
        from {
            opacity: 1;
            transform: scale(1);
        }

        to {
            opacity: 0;
            transform: scale(0.95);
        }
    }

    @media (max-width: 900px) {
        & {
            left: 0;
            right: 0;
            bottom: 0;
        }

        .controls {
            grid-template-columns: 1fr;

            .full-width {
                grid-column: 1;
            }
        }
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    line-height: 1.5;

    animation: fade-in-cookie-consent-popup 0.8s ease-in both;

    @keyframes fade-in-cookie-consent-popup {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    h3 {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    hr {
        margin-bottom: 1rem;
    }

    .controls {
        display: flex;
        .button {
            margin-right: 1rem;
        }
    }
}

/* Add styles for checkboxes */
.checkbox-label {
    display: block;
    margin-bottom: 10px;
    font-size: small;
}

.hidden-div {
    display: none;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    overflow-y: auto;
    /* Enable vertical scrolling */
    overflow-x: auto;
    /* Enable vertical scrolling */
}

/* Popup Content */
.popup-content {
    width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    overflow-y: auto;
    /* Enable vertical scrolling */
    overflow-x: auto;
    /* Enable vertical scrolling */
}

/* Checkbox Label */
.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    input {
        width: initial;
    }
}

/* Input Checkbox */
.my-input-class[type='checkbox'] {
    -webkit-appearance: checkbox;
    appearance: checkbox;
    margin-right: 10px;
}

#popup-ok {
    margin-right: 10px;
}

/* CSS styles for input elements  Override appearance for checkboxes */
.my-input-class[type='checkbox'] {
    -webkit-appearance: checkbox;
    appearance: checkbox;
    display: inline;
    align-items: center;
    padding: 1rem;
}
