input {
    -webkit-appearance: none;
    appearance: none;
    padding: 1rem;
    display: block;
    background-color: var(--blue-input-background-color);
    color: var(--blue-text-color);
    border: 0;
    outline: 0;
    border-radius: 0.5rem;

    font-weight: 600;

    &::placeholder {
        color: var(--blue-gray-1);
    }
}

.input-wrapper {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    label {
        font-size: 1.3rem;
        display: block;
        margin-bottom: 0.5rem;
        color: white;
        font-weight: 600;
    }
}
