body.modal-open {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modal {
    &-content {
        display: none;
    }

    &-target-clone {
        background-color: rgb(0 0 0 / 70%);
        transition: all ease-in-out 0.4s;
        border-radius: 0.5rem;

        &.maximized {
            background-color: var(--blue-gray-0);
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;
            border-radius: 0;
            opacity: 1;
            overflow: auto;
            padding-bottom: 3rem;
            box-sizing: border-box;

            .modal-content {
                display: block;
                box-sizing: border-box;
            }

            .close-btn {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                color: var(--blue-gray-1);
                z-index: 2;
                padding: 1rem;
                cursor: pointer;

                svg {
                    width: 3rem;
                    height: 3rem;
                }
            }

            .heading {
                font-weight: 300;
                margin: 2rem 0;
                font-size: 3rem;
                animation: fade-in 0.3s 0.1s ease-in both;
                line-height: 1.7;

                @media (max-width: 900px) {
                    font-size: 1.5rem;
                }
            }

            .sub-heading {
                font-size: 1.5rem;
                line-height: 1.7;
                animation: fade-in 0.3s 0.2s ease-in both;
                color: var(--blue-gray-1);
                @media (max-width: 900px) {
                    font-size: 1rem;
                }
            }

            @for $i from 1 through 25 {
                .animate-cascade:nth-child(#{$i}) {
                    animation: slide-in 0.3s #{0.05s * $i} ease-in both;
                }
            }
        }
    }

    @keyframes slide-in {
        from {
            opacity: 0;
            transform: translateY(15px);
        }

        50% {
            opacity: 0.3;
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
