.share-overlay-trigger {
    position: fixed;
    left: 0rem;
    z-index: 10;

    bottom: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    padding: 3rem;

    &:not(.ready) {
        display: none;
    }

    &:hover {
        svg {
            border-color: var(--gray-2);
            background-color: #eee;
        }
    }

    svg {
        transition: all 0.3s ease-in-out;
        width: 2rem;
        height: 2rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid var(--gray-1);
        border-radius: 50%;
        background-color: var(--light);
        padding: 1rem;
        box-sizing: content-box;
    }
}

.share-overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;

    &.open {
        opacity: 1;
        pointer-events: all;
    }

    header {
        display: flex;
    }

    .close {
        width: 2rem;
        height: 2rem;
        margin-inline-start: auto;
        padding: 0.5rem;
        box-sizing: content-box;
        cursor: pointer;
    }

    .share-overlay-content {
        max-width: 500px;
        background-color: white;
        margin: auto;
        height: 100%;
    }

    .qrcode-image {
        width: 15rem;
        margin: auto;
        display: block;
        pointer-events: none;
    }

    .share-buttons {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        justify-content: center;
        margin: 2rem 0;

        svg {
            width: 2rem;
            height: 2rem;
            pointer-events: none;
        }
        a {
            display: flex;
            position: relative;

            &:hover {
                &::before {
                    content: '';
                    position: absolute;
                    bottom: -0.7rem;
                    width: 100%;
                    height: 4px;
                    background-color: black;
                    animation: fade-in-share-buttons-in-share-overlay 0.3s
                        ease-in-out forwards;

                    @keyframes fade-in-share-buttons-in-share-overlay {
                        from {
                            opacity: 0;
                            transform: translateY(0.2rem);
                        }

                        to {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }

    p {
        color: #000;
        text-align: center;
        font-weight: bold;
        margin: 2rem 0;

        &.scan-text {
            margin-top: 0;
        }
    }

    .native-share-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
        margin: 2rem auto;
        svg {
            width: 2rem;
            height: 2rem;
            pointer-events: none;
        }
    }

    .apple-wallet {
        display: block;
        margin: auto;
        width: 235px;

        img {
            display: block;
            width: 100%;
        }
    }
}
