.website-header.sticky {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;

    z-index: 100;

    top: 0;

    animation: sticky-header-fade-in 0.5s ease both;
    background-color: rgba(0, 0, 0, 0.8);

    &.open {
        background-color: white;
    }

    @keyframes sticky-header-fade-in {
        from {
            opacity: 0;
            top: -3rem;
        }

        to {
            opacity: 1;
            top: 0;
        }
    }
}
